[2020-04-02 15:39] mxschmitt opened #10 "make it possible to use it without Jest"

[2020-04-02 18:34] #10 closed

[2020-04-03 18:34] thernstig opened #13 "Integration with text selector"
Nice to see expect-playwright 😃 Considering starting using it, but I could not find info about this and was curious about a few things.

Playwright supports text selector engines like so:

[code]

That I would have wished to replace with:

[code]

1. The first thing I noticed is that the example at https://github.com/mxschmitt/expect-playwright#why-do-i-need-it does not show the above (nicer) way

[2020-04-03 20:57] mxschmitt opened #14 "toEqualValue - compare e.g. input value"
- Naming is to be discussed
- Should check a `.value` of an input element
- toHave/toContain probably not common

[2020-04-06 13:41] #14 closed

[2020-04-06 18:14] thernstig commented on #13
Hi Max,

All the above depends a bit on your internal implementations of the current functions.

1. I.e. your example for toEqualText here https://github.com/mxschmitt/playwright-jest-examples/pull/1/files seems to indicate it is an exact match. Although https://github.com/mxschmitt/expect-playwright#toequaltext does not mention "exact" in the description, one could imagine this is the case from t

[2020-04-06 22:26] mxschmitt commented on #13
Hi :)

1. I think we speak about two different things. toEqualText, does make a strict comparison with the value / exact match with it. But internally it just will use `page.$(selector)` to get the element from the DOM. So from my understanding you can use whatever selector with whatever custom selector engine in the end of Playwright.

2. I'm doing the comparison of the text currently by myself (

[2020-04-07 07:40] thernstig commented on #13
I think the internal implementation in the matchers here should use the `text` selectors by default, as they pierce the open shadow DOM now. It would make sense to kind of align `toEqualText` to use the exact matching of the text selector engine (i.e. `text="something")`and `toHaveText` to equal the case-insensitive, partial matching (i.e. `text=something`).

Aligning the nomenclature for the vari

[2020-04-17 11:49] thernstig commented on #13
@mxschmitt I really want to start using this package, but I do have concerns between how the current expect functions are implemented for text selections. It'd be nice to completely align them and have 3 separate functions to alight to the exact playwright three different options for the text selector engine.

[2020-04-17 12:00] mxschmitt commented on #13
@thernstig are you on the [Playwright slack](https://join.slack.com/t/playwright/shared_invite/enQtOTEyMTUxMzgxMjIwLThjMDUxZmIyNTRiMTJjNjIyMzdmZDA3MTQxZWUwZTFjZjQwNGYxZGM5MzRmNzZlMWI5ZWUyOTkzMjE5Njg1NDg)? Feel free to ping me there, so we can talk about that. :)

[2020-04-17 16:30] flaurida opened #16 "Timeout option not working"
Hi there,

Thanks for this library! I am working to integrate it with [qawolf](https://github.com/qawolf/qawolf), and I noticed that it times out very quickly when looking for text that is not on the page. This is true even if I pass a longer timeout in `options`.

As a point of feedback, I was also surprised that the default timeout was only 1 second. I would have expected something longer like 3

[2020-04-17 16:50] mxschmitt commented on #16
Hey :)

The reason for why I've used a smaller timeout than Playwright does internally was, if you use the `not` selectors, it would also wait 30 seconds. And I felt to wait 30 seconds per default to check if a text is not persistent on a page is way too much. But due this case is very rare and mostly people check on normal expects instead of on not expects, I'm open to change this and document it

[2020-04-17 16:52] jperl commented on #16
FWIW I also think the timeout should be the same as Playwright's for consistency.

[2020-04-17 17:04] mxschmitt opened #17 "Update to Playwright 0.13.1"
Most of the things are only type changes...

[2020-04-17 20:03] #16 closed

[2020-04-17 20:03] #17 closed

[2020-04-17 20:06] mxschmitt commented on #16
Should be fixed in `expect-playwright@0.2.2`. Thanks for reporting!

[2020-04-22 15:03] flaurida opened #19 "toEqualValue does not retry, fails instantly"
Hi there,

I am trying to use `toEqualValue`, and noticed that it does not wait for the condition to be true as I would have expected.

Below is an example where it checks the value of an input. Since the value is not `Playwright`, the test fails instantly. I would have expected it to keep checking the input value before timing out, as sometimes inputs can be filled in with a delay. The error mess

[2020-04-23 10:44] mxschmitt commented on #19
Hey @flaurida,
currently I'm just getting the value of the element via `$eval` and then I'm making there a `.textContent` to get the actual text inside of the element.

This unfortunately until now, does not work, if the value of the element changes to the expected one after a few seconds e.g.

Not sure how we should proceed there, definitely a case which we should handle somehow. Playwright inter

[2020-04-23 12:57] thernstig commented on #13
@mxschmitt Let me try to install this package next week and test some things, so I have better feedback.

[2020-04-23 15:20] flaurida commented on #19
Hi @mxschmitt 😊 thanks for getting back to me! I understand the issue now.

For what it's worth, the API I would advocate for would look something like this, consistent with the `toHaveText` API:

[code]

or

[code]

I would then expect it to keep retrying the assertion until timeout.

Let me know your thoughts, happy to collaborate here!

[2020-04-27 10:05] mxschmitt commented on #19
Hey,

probably the first case, because the selector has to have access to the page object.

Would be awesome if you want to implement that. Looking forward to it!

[2020-05-03 17:20] banyan opened #20 "type definitions from an editor"
![2020-05-04 01 59 48](https://user-images.githubusercontent.com/19625/80920456-fe61cb00-8daa-11ea-89e6-65c64f220821.gif)

Although this seems to be a common problem when extending expect in jest, the editor can't find the type definition. (the test itself works since `setupFilesAfterEnv` is specified)
Explicitly `import "expect-playwright"` in the file works well, but do you know the other way?

[2020-05-03 18:03] mxschmitt commented on #20
Hey, there are types :)

You can use them at the top of your file e.g. via

[code]

or at your central tsconfig.json either via files:

[code]
or via types:

[code]

not sure what the most elegant way is, probably types.

[2020-05-04 02:03] banyan commented on #20
Thanks! The topmost reference works well, but other ways of going through files or types in tsconfig.json did not on my end.

[2020-05-05 07:15] thernstig commented on #13
@mxschmitt After lots of other issues at hand, I've come back to this. I think my deduction from all this is that maybe this should be closed. The reasons are that `await expect(page).toHaveSelector('text=Playwright')` works fine. Even though I'd of course have wished to use `toHaveText` if it was using the Playwright text based selectors. Reason being that it would be one less API to learn in ess

[2020-05-05 20:09] aesyondu opened #21 "[BUG] Unhandled case for toHaveText where expect contains an elementHandle, text, and options object"
**Context:**
- expect-playwright Version: 0.2.2
- Playwright Version: 0.16.0
- Operating System: Mac OS X 10.14.6
- Node version: 13.11.0
- Browser: Chromium
- Extra: npm@6.13.7

**Code Snippet**

[code]

**Describe the bug**

I'm getting an error ` Error: Invalid input length: 3`.

https://github.com/playwright-community/expect-playwright/blob/463a55d934d697a02d8d07dd07a4b50e47a34b03/src/matchers

[2020-05-05 20:16] mxschmitt commented on #21
Yep good catch. So basically we have to improve the conditions there to also check for the first arg (either page or element) and then check if its either with custom options or without.

[2020-05-16 09:17] thernstig commented on #13
@mxschmitt Closing this since it garnered no reply.

The conclusionis that we are using `await expect(page).toHaveSelector('text=Playwright')` for now to make it non-ambiuous to users to exactly what is being done.

[2020-05-16 09:17] #13 closed

[2020-06-04 06:37] thernstig opened #23 "PageWaitForSelectorOptions incorrectly contains waitFor"
The option `waitFor` has changed to `state` as part of the Playwright 1.0 release, so this needs to change as well.

[code]

[2020-06-04 08:39] mxschmitt commented on #23
This was already fixed in de0f274ad7c55fd7b4838f0131da3d716f134529 and should be available in 0.2.4: https://cdn.jsdelivr.net/npm/expect-playwright@0.2.4/global.d.ts

[2020-06-05 14:55] #23 closed

[2020-07-01 03:51] ArtemAbakumov commented on #21
hello more toHaveText doesn't get full text with spaces(((
sending:   `await expect(page).toHaveText('[id="form-title"]', 'Код из СМС')`
getting
` 'Код из СМС' is not included in 'Код из СМС' of '[id="form-title"]'.`
((( problem located in second space. if i used   `await expect(page).toHaveText('[id="form-title"]', 'Код из ')`
I getting the some problem but, if i used command without last space i

[2020-07-01 04:08] aesyondu commented on #21
If the first space is fine but the second space is not, perhaps there are multiple spaces in the second space, or you're using `&nbsp;` or some other ascii/unicode whitespace. For a start, when spacebar is pressed it creates ascii/unicode 0x20 (decimal 32). `&nbsp` creates unicode 0xa0 (decimal 160), and there are many other white space characters.

One logical workaround for this would be to use

[2020-07-01 04:18] ArtemAbakumov commented on #21
Thanks, are you sure, code appears as <h1 class="b-title" id="form-title">Код из&nbsp;СМС</h1> but if i used "Код из&nbsp;СМС" method doesn't works again `'Код из&nbsp;СМС' is not included in 'Код из СМС' of '[id="form-title"]'.`

[2020-07-01 04:24] ArtemAbakumov commented on #21
And this doesn't worked only in title! if i used   `await expect(page).toHaveText('[automation-id="password-forgot-button"]', "Не помню пароль")` it works fully

[2020-07-01 04:25] aesyondu commented on #21
Since it is certainly using `&nbsp;`, you can use unicode strings to match it: `Код из\u00a0СМС`

[2020-07-01 04:26] aesyondu commented on #21
What is the html for this? Does it also use `&nbsp;`?

[2020-07-01 04:37] ArtemAbakumov commented on #21
it's works but i doesn't understand why it works, i expect that fraimwork should get text as sees user(( but so thanks

[2020-07-01 04:44] ArtemAbakumov commented on #21
Not this not used `&nbsp;` but user saw this button as text as well as text title

[2020-07-07 21:44] jhildenbiddle opened #24 "Negative (`.not`) assertion timeout defaults to 30 seconds"
According to the docs helper methods like`toHaveSelector`, `toHaveText`, `toEqualText`, and `toEqualValue` have a default timeout of 1 second.

This is working as expected for positive assertions:

[code]

But negative assertions are defaulting to a 30 second timeout:

[code]

I can fix this by manually setting the timeout in `options`, but it would be nice to not have to do this:

[code]

Configu

[2020-07-07 21:56] mxschmitt commented on #24
Hi!
I'll tomorrow make a new release and address this, thanks for creating this detailed issue 👍

[2020-07-15 11:02] mxschmitt commented on #24
Hi, sorry for the delay!

Unfortunately we decided internally that it's not that useful to have a default timeout of 1 second because we would then have this 1 second for all matchers. Not only the not selectors.

[2020-07-15 11:02] #24 closed

[2020-07-15 11:20] jhildenbiddle commented on #24
No worries, @mxschmitt. Really appreciate the quick turnaround!

[2020-10-14 03:36] ramraphael opened #28 "Assertions should work against a list of ElementHandles"
Hi here,

Currently, all assertions are designed to check a single element. It would be helpful to check multiple elements (list items, table cells) and assert that they contain certain text.

Just spitballing here, but the `expect(page).toHaveText(selector, text, options)` selector would need some way to allow users to indicate that the selector should select multiple elements, each of which will

[2020-10-16 02:34] jhildenbiddle opened #29 "toEqualText() should support empty string"
Given the following HTML:

[code]

The following `toEqualText()` call will timeout:

[code]

The workaround is easy enough:

[code]

But it feels out of place when testing multiple elements using `toEqualText()`:

[code]

Ideally, `toEqualText()` would support an empty string as a valid text match.

[2020-10-19 23:52] danawoodman commented on #21
@mxschmitt I'm also facing the original issue here, is this something that is planned to be resolved or is there a good workaround?

[2020-10-23 13:02] aha-oretama opened #30 "[Feature request] Add `toHaveCount`, assertion for count of elements"
I need new assertion checking the count of elements which the selector matches.
It's very useful to verify the count of elements.

[code]

It might be better to consider if the new assertion can verify the greater or less count.
[code]

[2020-10-23 13:09] mxschmitt commented on #29
@jhildenbiddle good one! Definitely sounds like a bug. I hope to fix it during the weekend.

[2020-10-23 13:10] mxschmitt commented on #30
Sounds useful!

[2020-10-25 14:38] mxschmitt commented on #29
@jhildenbiddle not sure how we should handle, since it currently fails that element does not fulfil the actionability factors of Playwright (visible) and throws then the following error: ` waiting for selector "#foobar" to be visible`

Minimal reproducible: https://try.playwright.tech/?s=3gb61an

[code]

[2020-10-25 16:19] jhildenbiddle commented on #29
@mxschmitt --

I haven't looked at the source for `toEqualText()`, but would this not be a combination of `page.waitForSelector()` as `attached` and `page.innerText().toBe('')`? `toEqualText()` waits for `waitForSelector()` first, then checks `innerText()`, and any error reported by `toEqualText` specifies which one failed (i.e. failed selector match vs found selector but failed text match).

[2020-10-26 08:37] thernstig opened #32 "toHaveSelector with .not."
The first case below does not work, whilst the second does. What is the implication of using `expect(page).not.toHaveSelector`? I would have thought it would be similar to the second example, but it is not.

[code]

[code]

[2020-10-26 09:21] mxschmitt commented on #32
What do you mean with "does not work"? If you use the not selectors, it internally also tries to wait for the default timeout which is 30 seconds by default. So its recommended to pass there an option array and reduce the timeout to e.g. 5 seconds.

[2020-10-26 09:44] thernstig commented on #32
The selector exists at the time when `await expect(page).not.toHaveSelector(selector)` is called in our case. So that check fails.

But I would have expected the addition of the `.not.` to actually wait for 30 seconds for the selector to not exist.

[2020-10-28 15:54] akapitoha commented on #30
I have a chat app and such an assertion would be very helpful

[2020-10-29 09:20] shahar-h opened #33 "Release new version"
Latest version (0.2.5) depends on playwright-core ^1.2.1: https://github.com/playwright-community/expect-playwright/blob/973c949d123f71de9a43f9e0d1bd107288d9fb1a/package.json#L15
When using latest playwright and jest-playwright there are mismatched versions of playwright-core.
I noticed that master is already updated with playwright-core ^1.5.1 as a peer dependency.

[2020-10-29 11:42] mxschmitt commented on #33
Published the new version, you have to install `playwright-core` as a peer dependency now to be in depended: https://github.com/playwright-community/expect-playwright/releases/tag/v0.2.6

[2020-10-29 11:42] #33 closed

[2020-10-29 11:51] shahar-h commented on #33
Thanks for the quick response 👍

[2020-12-03 09:28] thernstig commented on #32
@mxschmitt ?

[2020-12-11 02:13] sjurgis opened #34 "Option to disable dumping whole page into console"
I test multi-megabyte apps and it's huge pain having it dumped into console, sometimes multiple times. I need to scroll tons just to find which test failed.

We should have option to disable that.

[2020-12-11 21:24] mmarkelov commented on #29
Some investigation on it. According to [docs](https://playwright.dev/#version=v1.6.2&path=docs%2Fapi.md&q=framewaitforselectorselector-options) **waitForSelector** will return only non-empty element, so because of it you got this kind of errors. I just made #29 where you can find possible workarounds. So maybe we should give ability to search for empty elements?

[2020-12-12 19:02] mmarkelov commented on #34
@sjurgis could you please provide some cases when you got this kind of annoying logs?

[2020-12-13 02:57] jhildenbiddle commented on #29
@mxschmitt inadvertently answered my question...

This is because the default `state` option value is `visible`, which requires an element to have a "non-empty bounding box and no `visibility:hidden`". Changing this value to `attached` requires only that an element is present in the DOM.

Fortunately, `toEqualText` allows setting `waitForSelector` options. This makes the fix pretty easy.

Given th

[2020-12-13 02:57] #29 closed

[2020-12-13 12:35] mmarkelov commented on #32
@thernstig I believe this is because html element with defined selector is empty.

This is because the default state option value is visible, which requires an element to have a "non-empty bounding box and no visibility:hidden". Changing this value to **attached** requires only that an element is present in the DOM.

[2020-12-14 08:36] thernstig commented on #32
I suppose I misunderstood `.not.`. I expected it to wait till something like `hidden` since the default for a normal `waitForSelector` is `visible`. That is not how it works then, and I am required to do what I do in my second example? (Note I could have replaced the second example with `state: 'hidden'` equally well since it does not matter in my case if it is hidden or detached, I just don't car

[2020-12-14 14:13] mmarkelov commented on #32
@thernstig I got your point. And I suppose maybe we should redefine default properties of **waitForSelector**, cause it can be a bit confused. @mxschmitt what do you think?

[2020-12-22 08:30] thernstig commented on #32
@mxschmitt ?

[2020-12-23 14:01] creage commented on #28
@mmarkelov can we have this feature implemented please?

[2020-12-31 10:04] mmarkelov commented on #28
@creage yeah! I suppose so. I just need to think about the way of this matcher.

[2020-12-31 10:08] creage commented on #28
How about new `all` chainable?

Something like `expect(page).all.toHaveText(selector, text, options)`?

[2020-12-31 10:11] mmarkelov commented on #28
@creage IDK if it's possible to chain it in this way, but this looks good to me.

[2021-01-06 11:07] #30 closed

[2021-01-06 11:11] mmarkelov commented on #30
Should be released in new version. @mxschmitt could you please publish new one. I just don't have access to do it

[2021-01-06 11:25] mxschmitt commented on #30
Published 0.3.0 👍

[2021-01-13 22:02] sjurgis commented on #21
@mxschmitt any plans to fix this? This is one of the biggest issue for us when using expect-playwright. We wanna to pass timeout as default one is quite low and I don't think matches playwrights default (1 second). We can use selector and text(), but that makes things so much more clunkier.

[2021-01-13 22:09] sjurgis commented on #34
@mmarkelov sorry for the wait, consider this:

[code]

[code]

This goes on forever...

[2021-01-14 16:46] mmarkelov commented on #21
@sjurgis are you talking about this case?
[code]

[2021-01-14 23:16] sjurgis commented on #21
@mmarkelov no that's different issue :) not as pressing as this one, but still would be nice to see.

[2021-01-14 23:18] sjurgis commented on #21
@mmarkelov IIRC yes

[2021-01-15 12:46] #21 closed

[2021-01-15 14:14] voodoofrog opened #41 "[Documentation] toHaveSelectorCount matcher"
I just wanted to point out the Readme has not been updated with the toHaveSelectorCount documentation. I'd do it myself but I don't want to presume I 100% know how it works (although I _assume_ it's roughly the same as toHaveSelector but with an additional param for the expected count).

[2021-01-15 15:32] mmarkelov commented on #41
@voodoofrog yeah that is almost the same as `toHaveSelector`. You can use it in two ways:
- ```await toHaveSelectorCount(page, ".foobar", 2)```
- ```await toHaveSelectorCount(page, ".foobar", 1, { timeout: 1 * 1000 })```

[2021-01-15 15:48] mmarkelov opened #42 "[Documentation] Fix links to PageWaitForSelectorOptions"
These links should be https://playwright.dev/docs/api/class-page/?_highlight=aitforselector#pagewaitforselectorselector-options

[2021-01-15 17:54] mmarkelov commented on #34
Just looked through this issue. IDK how we should implement this. Some possible ways:
- Add bool argument as the last one. It will be a bit difficult to implement.
[code]
- Add bool param to options.
[code]
- Add some param to `process env`. The easiest one.

@mmarkelov your thoughts?

[2021-01-15 21:54] maxime-helen opened #45 ".not not exposed"
`playwright-core`: `^1.7.1`
`playwright-expect`: `0.3.0`

I am trying following code per [documentation](https://github.com/playwright-community/expect-playwright#tohaveselector)
[code]

However I get following error:
[code]

Logging shows below:
[code]

Am I missing something? Many thanks for these great helpers!

[2021-01-15 22:46] mxschmitt commented on #34
I would maybe add something like that if there was no selector passed. Because then it fallbacks to the body which is usually quite long.

[2021-01-16 01:24] #42 closed

[2021-01-16 14:16] mmarkelov commented on #34
@mxschmitt that make sense, but I think that there are cases when the selector also can be too long. So maybe we should have some checks for the length of `actualTextContent`?

[2021-01-16 14:26] mmarkelov commented on #45
@maxime-helen seems like that you are using `expect-playwright` without `jest`, so this is expected behaviour.

[2021-01-16 14:57] mxschmitt commented on #34
sounds good. But I would determine the length of it in the browers JS runtime instead of Node.js

[2021-01-16 17:15] mmarkelov opened #47 "[Build] Exclude test files from ts build"
<img width="283" alt="Снимок экрана 2021-01-16 в 20 15 06" src="https://user-images.githubusercontent.com/22371328/104818257-8f90a900-5837-11eb-9f2a-eea72ea8603b.png">

[2021-01-18 07:14] maxime-helen commented on #45
I was importing `expect` straight from test script, called with jest CLI. Configuring my `jest.config.js` instead with `setupFilesAfterEnv: ['expect-playwright']` fixed the problem! Thanks!

[2021-01-18 07:26] #45 closed

[2021-01-18 17:55] #47 closed

[2021-01-19 12:36] #41 closed

[2021-01-19 17:48] nadavkaner opened #50 "toHaveText timeout"
What is the reason that `await expect(page).toHaveText("Playwright")` has a timeout of only a 1 sec? it's a real cumbersome to pass the timeout as a second parameter every time

[2021-01-21 10:48] mmarkelov commented on #50
You can't pass options as second param in new version. Actually this is good question, cause for these cases:
[code]
we just get a `body` content without any waiting, but I'm not sure what should we do for this case.
In my mind there is no much sense to use `waitForSelector` on `body`.
@mxschmitt what do you think?

[2021-01-21 11:31] mxschmitt commented on #50
Thats what I mean that we should keep the options parameter for such a case. Would be great to add tests for these cases and then based on them fix the current implementation.

[2021-01-23 11:12] nadavkaner commented on #50
Thanks, I just wondering why the default behavior of `toHaveText` is not auto-wait and the user should pass timeout as the second argument? for the other assertions APIs here like `toHaveSelector`, the default behavior is to wait.

[2021-01-25 19:51] seve opened #52 "toHaveSelector type"
It appears there's no type defined on `PlaywrightMatchers` for `toHaveSelectorCount`

[2021-01-26 10:29] mxschmitt commented on #52
Fixes in #53

[2021-01-26 10:29] #52 closed

[2021-01-26 11:25] #20 closed

[2021-01-26 11:59] #50 closed

[2021-01-26 12:06] mxschmitt commented on #19
Closed since it was stale, please reopen if its still an issue.

[2021-01-26 12:06] #19 closed

[2021-02-11 12:46] thernstig opened #59 "playwright-core"
https://github.com/playwright-community/expect-playwright/releases Version 0.2.6 says:

I can run expect-playwright fine without playwright-core. What am I missing?

[2021-02-11 12:50] thernstig commented on #59
Nevermind, I just noticed it was misspelled in the release notes `playwright-core` when it should be `playwright-core`, so I searched for that in my code base without noticing the spelling error. And theN

[2021-02-11 12:50] #59 closed

[2021-02-25 07:17] mfrachet opened #61 "(feature request): Adding .toHaveFocus() to the library"
Hello folks and thank you for the great work you're doing with the tool! That's amazing 😊

I'm opening this issue to request for a `.toHaveFocus()` function that will allow to verify what is the actually focused element. This may become very helpful when testing for accessibility.

Actually, to determine if an element has focused on it, I have two options that are quite verbose:

[code]

or as des

[2021-02-25 07:42] mmarkelov commented on #61
@mfrachet thanks for your suggestion. I think we can move the second option in separate helper`.toHaveFocus()`
That make sense for me.

[2021-03-01 17:48] lgrammel opened #62 "(feature request) expect(page).toHaveUrl(expectedUrl)"
Was thinking that it might be nice to have a shorthand

[code]

that would be equivalent to the longer

[code]

[2021-03-06 07:59] #62 closed

[2021-03-06 14:38] #61 closed

[2021-03-16 07:45] thernstig opened #65 "playwright-core vs playwright as peerDependency"
Currently I have to install both playwright and playwright-core in my package.json in order to run expect-playwright.

If I compare the subdependencies of playwright and playwright-core, they are identical. How come playwright could not be listed as the peer dependency instead?

[2021-03-16 08:12] mxschmitt commented on #65
We need `playwright-core` to expose types for the users. Having it installed as a normal dependency in `expect-playwright` does not always work, since we have to update it all the time and hold it in sync with the install `playwright` or `playwright-*` version.

`playwright-core` is currently a peerDependency:

https://github.com/playwright-community/expect-playwright/blob/6a1d637a7b1d1c6f79f728d8

[2021-03-16 10:11] thernstig commented on #65
I meant why is this not ok?

[code]

The current solution with requiring `playwright-core` instead of `playwright` as the `peerDependencies`.

Any user using `expect-playwright` otherwise have to have both `playwright` and `playwright-core` in their `package.json`.

[2021-03-16 10:19] mxschmitt commented on #65
This example would install playwright all the time which installs all the browsers on all the users environments. We want to prevent that and when a user is installing playwright-chromium that only chromium gets installed.

Yep this is unfortunately the pitfall that the user needs to have two packages of playwright there but unfortunately the only solution to workaround that problem.

[2021-03-16 10:28] thernstig commented on #65
Isn't it necessary though for a user to already have the `playwright` package? I mean could I just have `expect-playwright` and `playwright-core` in my `package.json`? I assume you are saying that is the case (although uncommon).

But I recon that 99% of users already have `playwright` installed so if you had that as `peerDependencies` I'd think very few users would have trouble with extra install

[2021-03-18 12:20] nulladdict commented on #32
I also got confused from docs to have the same expectations as @thernstig described
I'm not sure about redefining properties, but adding something like "use `await expect(page).toHaveSelector(selector, { state: 'hidden' });` to wait for selector to disappear" to the readme seems like a good idea

[2021-03-26 10:20] fkranenburg opened #66 "Feature request: expect(frame: Frame)"
We have a lot of iframes inside our application and would like to test inside the iframe pages. It would be great if `expect` could also work with a Frame object.

[2021-03-26 17:55] mxschmitt commented on #32
I saw its possible to detect if its not or a normal selector. So we can simply have a timeout of e.g. 1000 by default when its not and otherwise no (playwright default: 30s) timeout: https://jestjs.io/docs/expect#thisisnot

[2021-04-01 06:03] nulladdict commented on #32
I feel like having `.not.toHaveSelector(selector)` behave like `.toHaveSelector(selector, { state: 'hidden' })` is a reasonable expectation, since `hidden` is an opposite to default `visible` state ([docs](https://playwright.dev/docs/api/class-page/?_highlight=%27hidden%27#pagewaitforselectorselector-options))

In my experience, changing the timeout doesn't really help, since all the other selecto

[2021-04-14 10:50] avaragado commented on #32
I'd like to add that `toHaveSelectorCount` has a similar issue. It's quite natural to want to say:

[code]

For example, when you have a filter input, and simulate typing a filter that results in zero matches. Sadly it doesn't work as expected.

In this example, this works:

[code]

[2021-04-20 01:23] southpolesteve commented on #66
Same. Would love to see this added.

[2021-04-20 06:48] mmarkelov commented on #66
@southpolesteve I just made some improvements to implement this logic. So think that it's ready for merge.
@mxschmitt could you please check this?
Thanks!

[2021-04-20 10:05] #66 closed

[2021-04-20 10:06] mmarkelov commented on #66
@mxschmitt i suppose that we should publish new version?

[2021-04-20 10:20] mxschmitt commented on #66
yup sounds good to me

[2021-04-27 21:47] mskelton commented on #65
Jumping in as a user who uses playwright-chromium, having the peer dep as `playwright` would not be ideal especially in CI where browsers are downloaded fresh.  The current behavior of using `playwright-core` as the peer dep is correct.

[2021-04-28 06:20] thernstig commented on #65
Is there a reason that `PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD` ([reference](https://playwright.dev/docs/installation?_highlight=playwright_#skip-browser-downloads)) is not suitable? Maybe it doesn't work together with manually downloading particular binaries with playwright-chromium etc? In npm 7 peer dependencies are also automatically installed if not listed as a dependency already.

[2021-04-28 15:12] mskelton commented on #65
@thernstig  Using a flag such as `PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD` would not work for two reasons:

1. It would require consumers to add this flag to their environment which should not be required for the library to work out of the box.
2. Users who are using `playwright-chromium`, `playwright-firefox`, etc. still want browsers downloaded, they just want a specific browser downloaded rather than

[2021-04-28 17:40] thernstig commented on #65
1. That is not true for all users, as I'd recon the majority of the users want to download all browsers by default. Which also means most users install the `playwright` package by default. Having to set `PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD` is what few users have to do.
2. Maybe there should be a `PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD_CHROMIUM`, `PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD_FIREFOX`, `PLAYWRIGHT_SKIP

[2021-05-10 14:57] mskelton commented on #32
Just throwing in my two cents, but from my experience `.toHaveSelector(selector, { state: 'detached' })` is desired in nearly all instances.  Waiting for a specific timeout for the element to exist, whether 1 second, 5 seconds, or more makes a very non-ideal situation in tests.  If you use a long timeout you add lots of extra time to tests, if you use a short timeout, your tests become brittle if

[2021-05-10 15:12] mskelton commented on #65
I'll grant this point any day.  Most users definitely use the playwright package, however those who use the specific browser packages should also be supported.

Definitely an option, but requiring users to set environment variables to use a package is not a good experience.

You are correct, if a user installs `expect-playwright` and doesn't install `playwright` or a browser specific variant won't

[2021-05-11 15:12] mskelton opened #69 "Improve matcher messages"
The result messages from the matchers in expect-playwright get the job done by displaying information about what went wrong.  However, Jest has some utils that are available that can make matcher messages more visually friendly as well as consistent with the default matchers built into Jest (e.g. `toBe`).

I've got a WIP branch to show how this could look: https://github.com/mskelton/expect-playwr

[2021-05-11 16:31] mmarkelov commented on #69
@mskelton thank you very much about this! It will be really nice to have! i'll try to look through your branch and i can help you with this if will have any troubles.

[2021-05-11 16:36] mskelton commented on #69
@mmarkelov Awesome, I wanted to open this issue to make sure this is a good change you are all good with me making.  Now that I know you are good with it, I'll continue working on my branch to get the matchers updated.

[2021-05-12 14:12] mskelton opened #71 "Introduce automated code formatting"
While working on the PR for the improved matcher messages, I've noticed that there isn't any code formatting tool setup in this repository.  Would you be opposed to introducing a tool such as Prettier to help with code consistency, readability, and ease of development?

[2021-05-12 14:14] mxschmitt commented on #71
I'm fine with adding Prettier (prefer the default config there) etc. sounds good to me.

[2021-05-12 14:32] mskelton commented on #65
@mxschmitt Just got to thinking, but is there any downside to installing `playwright-core` as a regular dependency rather than a peer dep?  Or does it not play nicely if there are multiple versions?

[2021-05-12 14:50] #71 closed

[2021-05-12 14:53] thernstig commented on #65
Installing it as a regular dependency still gets into the trouble of differeing versions between users normal `playwright` package.

I am still a believer that `playwright` should be the peerDepdency as it means users can update playwright independent of `expect-playwright`.

This is not _required_ by most users. Actually, it is not required by any user. I'd say your use case is the outlier here a

[2021-05-12 15:33] mskelton commented on #65
Right, but thinking more about it, that should be fine since `expect-playwright` only needs the type definitions for whatever lowest supported version of playwright.  If a new version comes out that has new features, it won't be harmful if expect-playwright has an older version of the types.

How is it not required by any user?  It would be for users like me.

This repository is actually another p

[2021-05-17 17:12] xuanzhaopeng opened #74 "[Question] How do we setup default timeout?"
Hey team,

May I ask how could we setup default timeout? as document said it's 30 seconds, but I don't find where we set it. Is it possible to set it from jest config also?

Thanks

[2021-05-17 17:16] mxschmitt commented on #74
Hi, expect-playwright has no internal timeout handling, it will use the Playwright timeout by default. See here how to reduce or increase it: https://playwright.dev/docs/api/class-page#pagesetdefaulttimeouttimeout

[2021-05-23 22:43] #74 closed

[2021-06-07 21:32] #69 closed

[2021-06-09 17:29] krokofant opened #82 "Support for @playwright/test"
Does this work with the @playwright/test package?

Can't seem to follow the instructions for the Playwright test runner.

Version 0.4.0 is installed.

![image](https://user-images.githubusercontent.com/5908498/121401253-cd15e000-c958-11eb-9a60-5da840c5c61c.png)

[2021-06-09 18:06] mskelton commented on #82
Ah yes, we missed exporting that type.  I should have a PR out later today to fix.

[2021-06-09 19:19] #82 closed

[2021-06-09 19:21] mxschmitt commented on #82
Version 0.4.1 should fix it.

[2021-06-16 04:25] xpol opened #85 "expect() should accept Frame argument."
Given `frame = await handle.contentFrame()`.
When I need both `expect(handle).toEqualText()` and `expect(frame.isEnabled()).toBeTruthy()`
Then it is not clear that the `handle` and `frame` are refering to the "same" iframe:

[code]

With support Frame argument, it should be much clear:

[code]

[2021-06-18 04:00] mskelton commented on #85
Should be doable, just need to update `getElementText` to also detect frames.

[2021-06-19 10:18] #85 closed

[2021-06-19 18:24] atomicpages opened #87 "0.5.0 throwing toMatchText is not a function"
Looks like `toMatchText` isn't exported in `index.ts`

https://github.com/playwright-community/expect-playwright/blob/1ce90ca0df522be80f266476c3f7ab4c28685ce2/src/matchers/index.ts#L9

[code]

[2021-06-20 12:52] #87 closed

[2021-06-21 14:22] #65 closed

[2021-06-24 13:28] #32 closed

[2021-06-24 19:44] mskelton opened #97 "Simplifying match/equal matchers"
I had an idea about matchers like `toMatchText`/`toEqualText` or future matchers like `toMatchTitle`/`toEqualTitle`.  What if instead of having multiple matchers, we have a single matcher that if given a string, matches exactly and given a regex matches partial.

[code]

This would make it so we only have a single matcher for each purpose which could make things less confusing.  That said, this mi

[2021-06-27 13:44] mskelton opened #103 "Migrate tests to `@playwright/test`"
Unrelated to this PR. I'm thinking if we should either use [resetContext](https://github.com/playwright-community/jest-playwright#reset-current-context) every where or easier migrate to the Playwright Test runner and keep an integration test for the Jest preset.

_Originally posted by @mxschmitt in https://github.com/playwright-community/expect-playwright/issues/102#issuecomment-869162636_

[2021-06-28 10:38] mxschmitt commented on #103
I'm not sure about code coverage, thats something which is not supported in playwright-test.

[2021-06-28 13:31] mskelton opened #104 "Make test site for iframe tests"
Currently, we are targeting various domains for our iframe tests.  Ideally we would have our own test site that we can use.  Perhaps just a collection of HTML files that are served with the `serve` package?

[2021-06-28 13:42] mskelton opened #106 "Allow passing a promise for the value to expect"
We should support passing a promise as an argument like so:

[code]

[2021-06-28 13:59] mxschmitt commented on #106
Just thinking loud, the user needs to await the expect then and internally we await the first argument to get the ElementHandle from a Promise<ElementHandle>.

[2021-06-28 14:57] #97 closed

[2021-06-28 15:58] #106 closed

[2021-06-29 01:43] mskelton commented on #103
@mxschmitt So, do we want to close this since you merged #110?

[2021-06-29 05:24] #103 closed

[2021-07-01 21:05] #104 closed

[2021-07-02 12:37] mxschmitt commented on #34
Closed for now as part of the triage, seems solved with the current set of API's and the recent rework of the diff-visualisation.

[2021-07-02 12:37] #34 closed

[2021-07-06 07:20] creage opened #117 "0.7.0 has broken expecting on ElementHandle"
v0.6.0 works fine.

Updating to 0.7.1 fails tests.

Trying to
[code]
fails on second `expect` with

`TypeError: Cannot read property 'waitForSelector' of null`;

[2021-07-06 07:52] mxschmitt commented on #117
I will take a look at it in approximately 2 hours. Sorry for the inconvenience.

[2021-07-06 12:59] #117 closed

[2021-07-06 13:01] mxschmitt commented on #117
Should be fixed now. 👍

[2021-07-21 20:27] mskelton opened #119 "Use `elementHandle.inputValue` for `toMatchValue`"
Update `toMatchValue` to use [`elementHandle.inputValue`](https://playwright.dev/docs/api/class-elementhandle/#element-handle-input-value).  This is not something we should do immediately due to Playwright 1.13 just being released, but wanted to put a pin in this for the future.

[2021-08-19 14:55] mskelton commented on #119
With `@playwright/test` taking over, this repo will not likely live long, so this can be closed.

[2021-08-19 14:55] #119 closed

[2021-08-28 18:00] mrienstra opened #122 "Close to maintenance mode, add notice?"
I recently saw this notice on the [`jest-playwright` GitHub page](https://github.com/playwright-community/jest-playwright):

I decided to take the plunge, and in the process realized almost everything I had been using `expect-playwright` (with `jest-playwright`) for was handled by `@playwright/test`.

I also ran across this comment on an issue:

-- @mskelton, https://github.com/playwright-communit

[2021-08-30 13:33] #122 closed

[2021-09-02 19:37] mrienstra commented on #122
Thanks @mskelton!

Forgot to mention: ❤️ Thanks for all the hard work you and @mxschmitt and @mmarkelov put in to make this repo so awesome! One imagines it helped inform the development of the official Playwright test runner, by demonstrating what kinds of matchers the Playwright community "expects". 🥳🎊

[2021-09-10 12:46] yotov opened #124 "toMatchText failed due to whitespaces"
Hi guys,

I replaced the deprecated method **toHaveText** with the new one **toMatchText** and many of the tests failed. The reason for the failure is the presence of whitespace.

For example, this code is going to fail:
[code]

Is there an option to modify toMatchText to run trim on textContent?

[2021-09-10 14:15] mskelton commented on #124
@yotov `toMatchText` supports regex for partial string matching.  This should work.

[code]

[2021-10-04 20:06] mxschmitt opened #125 "Warn if test.step is used without await"

[2021-10-21 14:33] michal-radziwilko opened #126 "expect-playwright not working with jest-playwright"
While trying out jest-playwright i've experienced issue with expect-playwright. My project [GitHub repo](https://github.com/michal-radziwilko/jest-playwright). I cannot use any assertions from expect-playwright, when running tests from terminal the following error occurs:

    TypeError: expect(...).toHaveTitle is not a function

      1 | export async function testGoogle(){
      2 |     await pa

[2021-12-23 12:22] marekdedic opened #127 "Error: `elementHandle.waitForSelector` is not a function"
Hi,
I tried to follow the `jest-playwritght` basic example, so the following test:

[code]

However, I got `Error: Timeout exceed for element 'body'`. I followed the error message to [here](https://github.com/playwright-community/expect-playwright/blob/master/src/matchers/utils.ts#L58-L62), commented out the try-catch (leaving the body of course) and I got `TypeError: elementHandle.waitForSelector

[2021-12-23 13:48] mskelton commented on #127
What version of expect-playwright are you using?

[2021-12-23 14:05] marekdedic commented on #127
I am on `0.7.2` (as a transitive dependency of `jest-playwright-preset`)

[2021-12-23 14:07] mskelton commented on #127
Gotcha, expect-playwright 0.8.0 is required when using locators.  All that to say, is there a reason you are unable to [Playwright test](https://playwright.dev/docs/intro)?  Playwright test is the official test runner and recommended in place of expect playwright and jest playwright.

[2021-12-27 10:53] marekdedic commented on #127
Well then the `jest-playwright` readme is out of sync with its dependencies...

As for why use it - I'm already running my backend tests in jest, so it seemed simpler to just use the same runner...

[2021-12-27 10:53] #127 closed

[2022-03-20 15:14] basz opened #132 "Q: using toHaveSelector"
This fails

`await expect(page).toHaveSelector('div.ember-cli-notifications-notification__container');`

where this passes

`await expect(page).toHaveSelector('div#content-wrapper');`

are selector's something other then CSS selectors? Or perhaps I expect different behavior?

*I am certain a div.ember-cli-notifications-notification__container exists on my page*

[code]

[2022-03-21 10:31] mxschmitt commented on #132
Selectors are Playwright selectors: https://playwright.dev/docs/selectors

We btw. recommend migrating to [Playwright Test](https://playwright.dev/docs/intro), since they have now [all of these matchers included by default](https://playwright.dev/docs/test-assertions).

[2022-03-26 17:19] tarun1122 commented on #30
I didn't see the above request implemented here: https://playwright.dev/docs/test-assertions#locator-assertions-to-have-count

await expect(this.questions).toHaveCount(1)

I want to validate if my list count is greater than 1.
How can I achieve this?

@mmarkelov @mxschmitt

[2022-03-26 18:04] mskelton commented on #30
@tarun1122 Not sure, but this might work:

[code]

As a side note, your question should probably be opened as an issue in the [Playwright](https://github.com/microsoft/playwright) repo.

[2022-03-26 18:11] tarun1122 commented on #30
@mskelton Actually my list is dynamic. Sometimes it gives 2 questions sometimes 5+. I just need to ensure that my list always has atleast 1 question and hence, I want to check the list count is greater than 1.

[2022-03-26 18:12] mskelton commented on #30
Right, if you verify the count is not 0 and not 1, that then ensures there is at least two elements.

[2022-03-28 20:12] douglaslb commented on #30
I have the same problem... I would like to write a test for a dynamic list, so sometimes my list has 5 elements, or more than 20... is there a way to test this?

[2022-06-13 13:26] nowrap commented on #126
This also happens for toHaveURL()

[2022-06-13 14:08] mxschmitt commented on #126
There is no toHaveTitle matcher in expect-playwright. Its called [toMatchTitle](https://github.com/playwright-community/expect-playwright#toMatchTitle)

[2022-06-13 14:08] #126 closed, assigned to nobody

[2022-11-27 19:41] simon04 commented on #30
@douglaslb, you might want to use [`locator.count`](https://playwright.dev/docs/api/class-locator#locator-count):

[code]